.flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColICenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexRowICenter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.halfRounded {
    border-radius: 50%;
}


.w75 {
    width: 75%;
}

.w80 {
    width: 80%;
}


.ffAnuphan {
    font-family: "Anuphan", sans-serif;
}

.hoverTranslateUp,
.hoverTranslateRight {
    transition: transform .4s ease-in-out;
}

.hoverColorChange:hover {
    color: var(--main);
}

.hoverTranslateUp:hover {
    transform: translateY(-5px);
}

.hoverTranslateRight:hover {
    transform: translateX(5px);
}

/* glass effect  */
.glass {
    background: linear-gradient(to left top, rgba(194, 233, 255, 0.10) 0.27%, rgba(217, 217, 217, 0.2) 98.49%);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
}


/* table  */
.myCustomTable {
    width: 100%;
    border-collapse: separate !important;
    border-spacing: 0;
    border: 1px solid var(--main);
    border-radius: 5px;
}

.myCustomTable > thead > tr > th:not(:last-child)  {
    border-right: 1px solid var(--main);
    border-bottom: 1px solid var(--main);
}

.myCustomTable > thead > tr > th:last-child  {
    border-bottom: 1px solid var(--main);
}


.myCustomTable > tbody > tr:last-child > td:not(:last-child)  {
    border-right: 1px solid var(--main);
}

.myCustomTable > tbody > tr:not(:last-child) > td:not(:last-child)  {
    border-bottom: 1px solid var(--main);
    border-right: 1px solid var(--main);
}

.myCustomTable > tbody > tr:not(:last-child) > td:last-child  {
    border-bottom: 1px solid var(--main);
}



.myCustomTable > thead > tr > th {
    text-align: start;
    padding: 10px;
    color: var(--main);
    font-family: var(--mainFont);
    font-weight: 500;
}

.myCustomTable > tbody > tr > td {
    text-align: start;
    padding: 10px;
    color: white;
    font-family: var(--mainFont);
    font-weight: 400;
}