:root {
    --main: #ff7300;
}

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* scroll-snap-type: y mandatory; */
    text-decoration: none;
}

::selection {
    background-color: #ff7300;
    color: white !important;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: rgb(255, 200, 174);
}
::-webkit-scrollbar-thumb {
    background-color: var(--main);
}

/* sizes  */
.sizeXS {
    font-size: 24px;
}
.mainColor {
    color: var(--main);
}

/* timeline  */
.timeline{
    max-height: 600px;
    z-index: 45;
    background-color: var(--main);
    width: 2px;
    height: 0;
    animation-delay: .5s;
    animation: expandHeight 1.5s 1 forwards;
    position: relative;
}

.startpointer {
    width: 10px;
    aspect-ratio: 1;
    position: absolute;
    top: -10px;
    left: -4px;
    z-index: 55;
    border: 2px solid var(--main);
    border-radius: 80px;
}
.endpointer {
    width: 10px;
    aspect-ratio: 1;
    position: absolute;
    bottom: -10px;
    left: -4px;
    z-index: 55;
    border: 2px solid var(--main);
    border-radius: 80px;
}

/* common  */
.subPoint {
    font-size: 25px;
    color: rgb(180, 180, 180);
    
}

.pageProgress {
    height: 3px;
    background-color: red;
}


/* splide slider pagination dots   */
.splide__pagination__page {
    background: #ff730044 !important;
    opacity: 1 !important;
}
.splide__pagination__page.is-active {
    background: var(--main) !important;
    opacity: 1 !important;
    transform: scale(1.4) !important;
}