.footer {
    width: 100%;
    background-color: var(--introBG);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerResponsiveContainer {
    padding: 100px 150px 40px 150px;
    max-width: 1600px;
    width: 100%;
}

.footerHireContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 50px;
    padding: 40px;
    border-radius: 20px;
    background-color: white;
}

.footerHireContainer > p {
    font-family: var(--mainFont);
    color: black;
}

.footerHireContainer > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footerHireMeBtn {
    border: 1px solid var(--main);
    padding: 12px 30px;
    border-radius: 150px;
    outline: none;
    font-family: var(--mainFont);
    font-size: 18px;
    cursor: pointer;
    transition: all .8s ease-in-out;
    color: black;
    background-color: var(--main);
    width: auto;
}
