.footer {
    width: 100%;
    background-color: var(--introBG);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerResponsiveContainer {
    padding: 100px 150px 40px 150px;
    max-width: 1600px;
    width: 100%;
    position: relative;
}

.footerHireContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    align-items: center;
    gap: 50px;
    padding: 40px;
    border-radius: 20px;
    background-color: transparent;
    box-shadow: 0 0 10px var(--main);
}


.footerHireContainer > p {
    font-family: var(--mainFont);
    /* color: black; */
    color: white;
}

.footerHireContainer > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footerHireMeBtn {
    border: 1px solid var(--main);
    padding: 12px 30px;
    border-radius: 150px;
    outline: none;
    font-family: var(--mainFont);
    font-size: 18px;
    cursor: pointer;
    transition: all .8s ease-in-out;
    color: black;
    background-color: var(--main);
    width: auto;
}


@media only screen and (max-width: 500px) {
    .footerResponsiveContainer {
        padding: 20px;
    }
    .footerHireContainer {
        padding: 20px;
        grid-template-columns: minmax(0, 1fr);
        gap: 20px;
    }

    .footerHireContainer > div {
        align-items: flex-start;
    }


    .footerHireContainer > p {
        font-size: 14px;
    }
    .footerHireMeBtn {
        font-size: 14px;
        padding: 10px 20px;
    }
}